# Environments
.env
.venv
env/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class

# Vectorstore
vectorstore/

# IDEs
.idea/
.vscode/

# Logs
*.log

# Databases
datasets/users.json
node_modules/  
 
# Additional ignores
*.db
*.sqlite
backend/vedyam-learning-pipeline.json
dist/
